main.container-fluid {
    padding: 15px 40px;
}

#drilling-chart {
    width: 100%;
    height: 350px;
}

.resume-tiles .card-title {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
}

.resume-tiles .card-title strong {
    font-size: 36px;
}

.resume-tiles .card {
    margin: 10px;
}